<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	    <meta http-equiv="Content-Language" content="pl">
	    <meta name="robots" content="index, follow" /> 
        <title>
        {% block title %} Guest Book {% endblock %}
        </title>
        {% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" /> 
    </head>
    <body>
	<div id="wrapper"> 
	<div style="width:auto;"></div>
	<div id="main">
        <div id="content">
			<h1><a href="/">Guest Book</a></h1>
			<div class="hrblue"></div>
            {% block content %}
            {% endblock %}
            
			<div class="hrblue"></div>          
            
        </div>
    </div>
    </div>
    </body>
</html>
